.agent-page .agent-skill {
  width: 100vw;
  height: 100vh;
  color: black;
  padding: 20rem 9rem;
  margin-bottom: 10rem;
}

.agent-page .agent-skill .agent-skill-title {
  font-size: 10rem;
  margin-bottom: 7rem;
  color: var(--valo-dark);
  border-bottom: 2px solid var(--valo-dark);
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}

.agent-page .agent-skill:hover .agent-skill-title {
  border-bottom: 2px solid var(--valo-red);
}

.agent-page .agent-skill .agent-skill-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 7rem;
}

.agent-page .agent-skill .agent-skill-wrapper .agent-skill-video {
  background-color: #444;
  width: 50%;
  height: 420px;
  box-shadow: 15px 15px 0 var(--valo-red);
  transition: all ease 0.15s;
  -webkit-transition: all ease 0.15s;
  -moz-transition: all ease 0.15s;
  -ms-transition: all ease 0.15s;
  -o-transition: all ease 0.15s;
}

.agent-page .agent-skill .agent-skill-wrapper .agent-skill-video video {
  background-color: #444;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.agent-page
  .agent-skill
  .agent-skill-wrapper
  .agent-skill-detail
  .agent-skill-icons {
  width: 456px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.agent-page
  .agent-skill
  .agent-skill-wrapper
  .agent-skill-detail
  .agent-skill-icons
  .agent-skill-icon {
  width: auto;
  height: 80px;
  filter: brightness(0) opacity(0.25);
  padding: 0.7rem;
  border: 3px solid #1e1e1e;
  -webkit-filter: brightness(0) opacity(0.25);
  transition: all ease-in-out 0.1s;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
}

.agent-page
  .agent-skill
  .agent-skill-wrapper
  .agent-skill-detail
  .agent-skill-icons
  .agent-skill-icon.selected {
  filter: brightness(0) opacity(0.8);
  -webkit-filter: brightness(0) opacity(0.8);
}

.agent-page
  .agent-skill
  .agent-skill-wrapper
  .agent-skill-detail
  .agent-skill-icons
  .agent-skill-icon:hover {
  filter: brightness(0) opacity(0.8);
  -webkit-filter: brightness(0) opacity(0.8);
  cursor: pointer;
}

.agent-page
  .agent-skill
  .agent-skill-wrapper
  .agent-skill-detail
  .agent-skill-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.agent-page
  .agent-skill
  .agent-skill-wrapper
  .agent-skill-detail
  .agent-skill-desc {
  font-size: 0.9rem;
  text-align: justify;
  width: 456px;
}

@media screen and (max-width: 900px) {
  .agent-page .agent-skill {
    padding: 0 3rem;
    margin-bottom: 0;
  }

  .agent-page .agent-skill .agent-skill-title {
    font-size: 7rem;
    margin-bottom: 3rem;
  }

  .agent-page .agent-skill .agent-skill-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .agent-page
    .agent-skill
    .agent-skill-wrapper
    .agent-skill-detail
    .agent-skill-icons {
    width: 100%;
    height: auto;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .agent-page
    .agent-skill
    .agent-skill-wrapper
    .agent-skill-detail
    .agent-skill-icons
    .agent-skill-icon {
    height: 150px;
    padding: 1.5rem;
  }

  .agent-page
    .agent-skill
    .agent-skill-wrapper
    .agent-skill-detail
    .agent-skill-name {
    font-size: 3rem;
  }

  .agent-page
    .agent-skill
    .agent-skill-wrapper
    .agent-skill-detail
    .agent-skill-desc {
    font-size: 1.5rem;
    width: 100%;
  }
}
